@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.maxWidth{
  padding: 0 2%;
  margin: 0 auto;
  max-width: 1620px;
}

.customH{
  position: relative;
  top: 114px;
  height: calc(100% - 120px);
}

.mainBG {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1)), url('../public/mainBG1.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: crisp-edges; 
}

.ContactBG{
  background-image: url('../public/ContactBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutBg{
  background-image: url('../public/aboutBG.jpg');
  background-size: cover;
}

/* FORMULARIO */
input::placeholder {
  color: #505050;
  font-weight: 500;
}

textarea::placeholder {
  color: #505050;
  font-weight: 500;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container .icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
}

.input-container input {
  padding-left: 40px;
  width: 100%;
}

